@font-face {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/static/HankenGrotesk-Medium.ttf);
}

@font-face {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/static/HankenGrotesk-Bold.ttf);
}

@font-face {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 800;
    src: url(../assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-family: 'Hanken Grotesk';
    font-weight: 500;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

:root{
    //Primary
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    //Gradients 
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);
    //Neutral
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%); 
    --dark-gray-blue: hsl(224, 30%, 27%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--pale-blue);
    @media screen and (max-width: 1024px) {
        display: block;
    }
}
main{
    background: var(--white);
    display: flex;
    width: 46rem;
    // border: solid;
    border-radius: 1.5rem;
    overflow: hidden;
    @media screen and (max-width: 1024px){
        flex-direction: column;
        width: 100%; 
        border-radius: 0;
    }
}

.general-result{
    flex-basis: 50%;
    background: linear-gradient(180deg, #75F 0%,
        #6943FF 0.01%,
        #2F2CE9 100%);
    border-radius: 1.5rem;
    color: var(--light-lavender);
    text-align: center;
    padding: 2.38rem 3.38rem 3.44rem;
    @media screen and (max-width:1024px){
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 1.8rem 3.3rem 2.5rem;
        
    }
    &__header{
        font-size: 1.2rem;
        font-weight: 700;
        @media screen and (max-width: 1024px){
            font-size: 1rem;
            
        }
    }
    &__total{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 2.38rem;
        background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
        @media screen and (max-width: 1024px){
            margin-top: 1.8rem;
            width: 8.75rem;
            height: 8.75rem;
            

        }
        @media screen and (max-width: 370px) {
            width: 7rem;
            height: 7rem;


        }
    }

    &__total-num{
        
        color: var(--white);
        font-size: 4.5rem;
        font-weight: 800;
        line-height: 4.5rem;
        @media screen and (max-width: 1024px) {
            font-size: 3.5rem;
        }
        @media screen and (max-width: 370px) {
            line-height: 3.5rem;
            font-size: 2.8rem;


        }
    }
    &__max-num{
        font-size: 1.125rem;
        font-weight: 700;
        @media screen and (max-width: 1024px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 370px) {
            font-size: 0.8rem;


        }
    }
    &__comparing-header{
        margin-top: 2.38rem;
        color: var(--white);
        font-size: 2rem;
        font-weight: 700;
        @media screen and (max-width: 1024px) {
                margin-top: 1.5rem;
                font-size: 1.5rem;
                font-weight: 700;
        }
    }
        &__comparing-description{
            margin-top: 0.88rem;
            font-size: 1.125rem;
            font-weight: 500;
            @media screen and (max-width: 1024px) {
                margin-top: 0.5rem;
                font-size: 0.9rem;
            }
         }
    }


.summary{
    flex-basis: 50%;
    padding: 2.38rem 2.5rem 2.88rem;
    @media screen and (max-width: 1024px){
        padding: 1.5rem 2rem 1.88rem;
    }
    &__header{
        color: var(--dark-gray-blue);
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1.75rem;
        @media screen and (max-width: 1024px){
                font-size: 1.125rem;
                font-weight: 700;
                margin-bottom: 1.5rem;
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.9rem;
        padding: 1rem;
        border-radius: 0.75rem;
        font-size: 1.125rem;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55;
        @media screen and (max-width: 1024px) {
                font-size: 1rem;
                padding: 0.9rem;
            }
        
        &-name{
            position: relative;
            top: 0.24em;
            font-weight: 500;
            @media screen and (max-width: 1024px){
                font-size: 1rem;
                font-weight: 500;
            }

        }
        
        &-total-score{
            color: var(--dark-gray-blue);
            text-align: right;
            font-weight: 700;
            @media screen and (max-width: 1024px){
                font-size: 1rem;
                font-weight: 700;
                    
            }
        }

                
        
                

        &-maxnum{
            color: var(--dark-gray-blue);
            margin-left: 0.2rem;
            opacity: 0.7;
            text-align: right;
            font-weight: 700;
            @media screen and (max-width: 1024px){
                margin-left: 0.1rem;
                font-size: 1rem;
                font-weight: 700;
            }
        }

    }
    &__next-link{
        // color: var(--white);
        margin-top: 1.5rem;
        border-radius: 8rem;
        text-align: center;
        display: inline-block;
        padding: 1rem;
        width: 100%;
        font-size: 1.125rem;
        font-weight: 700;
        background: var(--dark-gray-blue);
        color: var(--white);
        transition: background .4s;
        &:hover{
            background: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
            
        }
        @media screen and (max-width: 1024px){
            margin-top: 0.5rem;
            font-size: 1.125rem;
            font-weight: 700;
            
        }
    }
}

.reaction{
    color: var(--light-red);
}

.memory{
    color: var(--orangey-yellow);
}

.verbal{
    color: var(--teal);
}

.visual{
    color: var(--cobalt-blue);
}